<DocsDemo as |demo|>
  <demo.example @name='one-way-date-mask-demo-4.hbs'>
    <OneWayDateMask
      @value={{this.unmasked}}
      @options={{hash inputFormat='HH:MM:ss' outputFormat='HHMMss'}}
      @update={{this.update}}
      class='docs-border docs-border-grey'
    />

    <p>unmasked: {{this.unmasked}}</p>
    <p>masked: {{this.masked}}</p>
  </demo.example>

  {{demo.snippet 'one-way-date-mask-demo-4.hbs'}}
  {{demo.snippet 'one-way-date-mask-demo-4.js' label='component.js'}}
</DocsDemo>