{{#docs-demo as |demo|}}
  {{#demo.example name='one-way-date-mask-demo-4.hbs'}}
    {{one-way-date-mask
      unmasked
      options=(hash inputFormat='HH:MM:ss' outputFormat='HHMMss')
      update=(action 'update')
      class='docs-border docs-border-grey'
    }}

    <p>unmasked: {{unmasked}}</p>
    <p>masked: {{masked}}</p>
  {{/demo.example}}


  {{demo.snippet 'one-way-date-mask-demo-4.hbs'}}
  {{demo.snippet 'one-way-date-mask-demo-4.js' label='component.js'}}
{{/docs-demo}}
