<DocsDemo as |demo|>
  <demo.example @name="one-way-credit-card-mask-demo-1.hbs">
    <OneWayCreditCardMask
      @value={{this.unmasked}}
      @update={{this.update}}
      class='docs-border docs-border-grey'
    />

    <p>unmasked: {{this.unmasked}}</p>
    <p>masked: {{this.masked}}</p>
    <p>cardType: {{this.cardType}}</p>
  </demo.example>

  {{demo.snippet 'one-way-credit-card-mask-demo-1.hbs'}}
  {{demo.snippet 'one-way-credit-card-mask-demo-1.js' label='component.js'}}
</DocsDemo>
