<h2 id="title">ember-inputmask examples</h2>

<div class='container'>
  <fieldset>
    <legend>Generic input mask:</legend>
    {{one-way-input-mask mask="AAAA"}}
  </fieldset>

  <fieldset>
    <legend>Number mask:</legend>
    {{one-way-number-mask}}
  </fieldset>

  <fieldset>
    <legend>SSN input:</legend>
    {{one-way-ssn-mask value=ssnValue pattern='^\d{3}-\d{2}-\d{4}$'}}
  </fieldset>

  <fieldset>
    <legend>Credit card input:</legend>
    {{one-way-credit-card-mask update=(action 'updateCardType')}} {{cardTypeValue}}
  </fieldset>

  <fieldset>
    <legend>Phone input:</legend>
    {{one-way-phone-mask value=numberValue extensions=true}}
  </fieldset>

  <fieldset>
    <legend>Email input:</legend>
    {{one-way-email-mask value=testValue}}
  </fieldset>

  <fieldset>
    <legend>US Zip code input:</legend>
    {{one-way-zip-code-mask}}
  </fieldset>

  <fieldset>
    <legend>Currency input:</legend>
    {{one-way-currency-mask}}
  </fieldset>

  <fieldset>
    <legend>Date input:</legend>
    {{one-way-date-mask}}
  </fieldset>
</div>
