<h2 id="title">Welcome to Ember.js</h2>

{{input-mask mask="AAAA" greedyMask=true}}
{{email-input value=testValue}}
{{phone-number-input unmaskedValue=numberValue extensions=true}}
{{zip-code-input}}
{{currency-input}}
{{date-input}}
{{credit-card-input value=blah cardType=cardTypeValue}} {{cardTypeValue}}

{{blah}}
{{blahh}}

{{outlet}}