{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.item 'Introduction' 'docs.index'}}

    {{nav.section 'Usage'}}
    {{nav.item 'One Way Input Mask' 'docs.one-way-input-mask'}}
    {{nav.item 'One Way Number Mask' 'docs.one-way-number-mask'}}
    {{nav.item 'One Way Currency Mask' 'docs.one-way-currency-mask'}}
    {{nav.item 'One Way Date Mask' 'docs.one-way-date-mask'}}
    {{nav.item 'One Way Phone Mask' 'docs.one-way-phone-mask'}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}
